* {
  margin: 0;
  padding: 0;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../Images/reading12.jpg); 
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
}

.main-nav {
  list-style: none;
  float: right;
  margin-top:50px; 
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
}

.main-nav li a:hover {
  color: orange;
  transition: all 0.5s ease-in;
}

.logo img {
  height:100px;
  float: left;
  margin-top: 30px;
}

.features h3 {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 65px;
}

.intro {
  width: 70%;
   margin-left: 15%;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
